.settings {
  display: grid;

  &_title {
    margin-bottom: 24px;
  }
}

.form {
  max-width: 424px;
  display: grid;
  gap: 32px;

  &_label {
    display: grid;
    gap: 1rem;
    font-family: Craftwork Grotesk;
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
  }

  &_hints {
    color: #AFB0AF;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
}

.modal {
  &_text {
    max-width: 424px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &_button {
    max-width: 424px;
  }
}