@import '@/styles/index.scss';

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: toRem(1008);
  width: 100%;

  @media (max-width: $tablet) {
    max-width: $tablet;
  }

  &_image {
    & > * {
      height: 180px;
      width: 100%;
      object-fit: cover;

      @media (max-width: $mobileSmall) {
        height: 124px;
      }
    }
  }

  &_inner_text {
    display: flex;
    align-items: center;
    cursor: pointer;

    & > p {
      margin-right: 8px;
      color: #333;
      font-family: 'Craftwork Grotesk';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.28px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .buttons {
    & :first-child * {
      color: var(--Green-900, #1a7171);
    }

    & :nth-child(2) * {
      color: var(--Red-Red-900, #b23636);
    }

    & button {
      font-family: 'Craftwork Grotesk';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.28px;
    }
  }

  & input {
    display: none;
  }

  &_burger {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 999;

    & > svg {
      color: #1a7171;
      height: 24px;
      width: 24px;
    }

    &_list {
      position: absolute;
      @extend .buttons;

      // borders from Figma
      border-radius: 4px;
      border: 1px solid var(--Inputs-Light-grey, #e3e2e1);

      background: var(--White, #fff);
      top: 2rem;
      right: 0;

      background-color: #fff;

      & > div {
        display: flex;
        gap: 8px;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        white-space: nowrap;
        padding: 6px 12px;
        height: 36px;
      }

      & > :nth-child(2) {
        border-top: 1px solid var(--Inputs-Light-grey, #e3e2e1);
      }
    }
  }

  &_buttons {
    @extend .buttons;
    display: flex;
    justify-content: end;
    gap: 4px;

    @media (max-width: $tablet) {
      display: none;
    }

    
    & > div {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 8px 12px;
    }
  }
}
