@import '@/styles/index.scss';

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: toRem(1008);
  width: 100%;

  @media (max-width: $tablet) {
    max-width: $tablet;
  }

  &_image {
    & > * {
      height: toRem(180);
      width: 100%;
      object-fit: cover;

      @media (max-width: $mobileSmall) {
        height: toRem(124);
      }
    }
  }

  &_inner_text {
    display: flex;
    align-items: center;
    cursor: pointer;

    & > p {
      margin-right: toRem(8);
      color: $black;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.28px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .buttons {
    & :first-child * {
      color: $green;
    }

    & :nth-child(2) * {
      color: $red;
    }

    & button {
      font-family: 'Craftwork Grotesk';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.28px;
    }
  }

  & input {
    display: none;
  }

  &_dropdown {
    position: absolute;
    top: toRem(8);
    right: toRem(12);
    z-index: 999;

    & > svg {
      color: $green;
      height: toRem(24);
      width: toRem(24);
    }

    &_list {
      position: absolute;
      @extend .buttons;

      // borders from Figma
      border-radius: toRem(4);
      border: toRem(1) solid $light-grey;

      background: $white;
      top: 2rem;
      right: 0;

      background-color: $white;

      & > div {
        display: flex;
        gap: toRem(8);
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        white-space: nowrap;
        padding: toRem(6) toRem(12);
        height: toRem(36);
      }

      & > :nth-child(2) {
        border-top: toRem(1) solid $light-grey;
      }
    }
  }

  &_buttons {
    @extend .buttons;
    display: flex;
    justify-content: end;
    gap: toRem(4);

    @media (max-width: $tablet) {
      display: none;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: toRem(8);
      margin: toRem(8) toRem(12);
    }
  }
}
