@import '@/styles/index.scss';

.store {
  @extend .container;
  @include adaptiveValue('margin-top', 60, 24, 1440, 0, 480);

  &_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: toRem(60);

    @media (max-width: $mobileSmall) {
      margin-top: toRem(44);
    }
  }

  &_button {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.32px;
    color: $grey;
    padding: toRem(12) toRem(24);

    @media (max-width: $mobileSmall) {
      max-width: toRem(160);
      width: 100%;
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: 0.28px;
      padding: toRem(12) toRem(30);
    }
  
    &_active {
      color: $green;
      background: $white-smoke;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }

  &_block {
    min-height: toRem(572);
    margin-top: -1px;
    background: $white-smoke;
  }

  &_return {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.14px;
    color: $green;
    display: flex;
    gap: 0.75rem;
    align-items: center;

    margin-bottom: toRem(24);

    svg {
      width: 1rem;
      height: 1rem;
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: toRem(12);
      font-size: toRem(11);
      gap: toRem(8);
    }
  }
}
