@import '@/styles/index.scss';

.dropdown {
  &_menu {
    width: 204px;
  }

  &_auth {
    width: 226px;
    display: inherit;
    flex-direction: inherit;
    gap: 0.75;
    padding: 12px 15px;

    &_registration {
      display: flex;
      gap: 0.5rem;
      font-size: 0.75rem;
      line-height: 1rem;

      p {
        font-weight: 300;
      }

      button {
        font-weight: 400;
        text-decoration-line: underline;
      }
    }
  }

}