@import '@/styles/index.scss';

.dropdown {
  &_menu {
    width: 204px;
  }

  &_auth {
    width: 226px;
    display: grid;
    row-gap: 0.75rem;
    padding: toRem(12) toRem(15);

    &_login {
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.36px;
    }

    &_registration {
      display: flex;
      gap: 0.5rem;
      font-size: 0.75rem;
      line-height: 1rem;

      p {
        font-weight: 300;
      }

      button {
        font-weight: 400;
        text-decoration-line: underline;
      }
    }
  }

}