@import '@/styles/index.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Craftwork Grotesk', sans-serif;
  @include adaptiveValue('font-size', 16, 12, 0, 1440, 360);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  padding: 15px;
  max-height: 54px;
  width: 100%;

  @media (max-width: $mobile) {
    letter-spacing: 0.36px;
    max-height: 48px;
  }

  &:disabled {
    color: $white;
    background: $light-grey;
    cursor: not-allowed;
  }
}

.main {
  color: $white;
  background: $main-btn-color;

  &:not(:disabled):hover {
    background: $hover-main-btn;
    transition: background 0.3s ease;
  }
}

.secondary {
  color: $green;
  background: $secondary-btn-color;
  border: 1px solid $green;

  &:not(:disabled):hover {
    background: $hover-secondary-btn;
    transition: background 0.3s ease;
  }

  @media (max-width: $mobile) {
    background: transparent;
  }
}