@import '@/styles/global.scss';

.btn {
  font-family: 'Craftwork Grotesk', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.48px;
  border-radius: 4px;

  padding: 11px 15px;

  &:disabled {
    color: $white;
    background: $light-grey;
    cursor: not-allowed;
  }
}

.main {
  color: $white;
  background: $main-btn-color;

  &:not(:disabled):hover {
    background: $hover-main-btn;
    transition: background 0.3s ease;
  }
}

.secondary {
  color: $green;
  background: $secondary-btn-color;
  border: 1px solid $green;

  &:not(:disabled):hover {
    background: $hover-secondary-btn;
    transition: background 0.3s ease;
  }
}