@import '@/styles/index.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Craftwork Grotesk', sans-serif;
  @include adaptiveValue('font-size', 16, 14, 0, 1440, 360);
  font-style: normal;
  font-weight: 700;
  line-height: toRem(24);
  letter-spacing: 0.48px;
  width: 100%;
  padding: toRem(15) toRem(10);
  border-radius: toRem(4);

  @media (max-width: $mobile) {
    padding: toRem(14) toRem(10);
    line-height: 20px;
    letter-spacing: 0.28px;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.main {
  color: $white;
  background: $main-btn-color;

  &:not(:disabled):hover {
    background: $hover-main-btn;
    transition: background 0.3s ease;
  }

  &:not(:disabled):active {
    background: $pressed-main-bg;
  }

  &:disabled {
    color: $disabled-main-color;
    background: $disabled-main-bg;;
  }
}

.secondary {
  color: $green;
  background: $secondary-btn-color;
  outline: 1px solid $green;

  &:not(:disabled):hover {
    background: $hover-secondary-btn;
    transition: background 0.3s ease;
  }

  &:disabled {
    color: $disabled-secondary-color;
    outline-color: $disabled-secondary-border;
  }
}