@import '@/styles/index.scss';

.banner {
  height: 180px;
  background: rgba(211, 211, 211, 0.5);
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;

  @media (max-width: $tablet) {
    height: 124px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.header {
  position: relative;

  &_info {
    height: 180px;
    padding: 24px 20px 20px 0;
    @include adaptiveValue('padding-left', 244, 190, 0, 1440, 360);

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 6px 6px 0px rgba(221, 221, 221, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;

    @media (max-width: $mobile) {
      height: auto;
      padding: 16px 20px 24px;

      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &_info_bn {
    @media (max-width: $mobile) {
      padding-top: 56px;
    }
  }

  &_descr {
    @extend .header_info;
    justify-content: flex-start;

    @media (max-width: $mobile) {
      justify-content: center;
    }

    @media (max-width: $mobileSmall) {
      justify-content: center;
      gap: 8px;
    }
  }
}

.photoWrapper {
  position: absolute;
  left: 20px;

  top: 20px;

  @media (max-width: $mobile) {
    position: static;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
  }

  &_banner {
    position: absolute;
    left: 20px;
    bottom: 24px;

    @media (max-width: $mobile) {
      width: 100%;
      left: 0;
      top: 12px;

      display: grid;
      grid-template-columns: 1fr auto 1fr;

      align-items: end;
      height: fit-content;

      padding: 0 20px;
    }
  }
}

.header_photo {
  @include adaptiveValue('width', 200, 152, 0, 1440, 360);
  @include adaptiveValue('height', 200, 152, 0, 1440, 360);

  @media (max-width: $mobile) {
    grid-area: 1/2;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.header_data {
  display: flex;
  justify-content: space-between;
  grid-area: 1/2;

  &_descr {
    @extend .header_data;
    align-items: center;
  }
}

.name {
  font-family: 'Craftwork Grotesk';
  font-size: toRem(28);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.84px;

  @media (max-width: $tablet) {
    font-size: toRem(22);
    font-weight: 700;
    letter-spacing: 0.66px;
  }
}

.name_wrapper {
  display: flex;
  flex-direction: column;

  gap: 8px;

  &_descr {
    @extend .name_wrapper;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: center;
      gap: 2px;
    }
  }
}

.stats {
  font-size: toRem(16);
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.16px;

  display: flex;
  align-items: center;

  margin-right: 4px;

  @media (max-width: $tablet) {
    font-size: toRem(12);
    line-height: 1.66;
    letter-spacing: 0.24px;
  }

  svg {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }

  &_wrapper {
    display: flex;
    align-items: center;
  }
}

.tooltip {
  svg {
    width: 1rem;
    height: 1rem;
    color: $green;
  }

  div {
    border-top-right-radius: 0;
    top: 36px;
    right: 8px;

    @media (max-width: 784px) {
      border-top-right-radius: 8px;
      top: 33px;
      right: -147px;
    }

    @media (max-width: $mobile) {
      top: 30px;
      right: -29px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -25%;
      right: 0;
      border-bottom: 1.25rem solid $pale-yellow;
      border-left: 1.25rem solid transparent;

      @media (max-width: 784px) {
        top: -20%;
        right: 14%;
      }
    }
  }
}
