@import '@/styles/index.scss';

.settings {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: toRem(20);

  @media (max-width: $tablet) {
    justify-items: center;
  }

  &_title {
    margin: toRem(32) 0 toRem(16);

    @media (max-width: $mobileSmall) {
      margin-top: toRem(20);
    }
  }

  &_photo {
    grid-area: -1 / 1;
    display: grid;
    align-items: center;
    margin: toRem(40) 0 0 toRem(21);

    @media (max-width: $tablet) {
      margin: 0;
    }

    @media (max-width: $mobileSmall) {
      margin-top: toRem(12);
    }
  }
}