.title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 24.6px;
  margin-bottom: 32px;
}

.text {
  color: #000;
  font-weight: 400;
  line-height: 24.6px;
  margin-bottom: 64px;
}