@import '@/styles/index.scss';

.form {
  max-width: toRem(424);
  width: 100%;
  display: grid;
  gap: toRem(16);

  @media (max-width: $tablet) {
    max-width: 100%;
    width: calc(75% - 20px);
  }

  @media (max-width: $mobileSmall) {
    width: calc(100% - 20px);
  }

  &_wrap {
    display: grid;
    gap: 0.25rem;

    p:first-child {
      margin-bottom: 0.25rem;
    }
  }

  &_subtitle {
    font-size: toRem(12);
    font-weight: 300;
    line-height: 1rem;
    color: $grey;

    span {
      color: $red;
    }
  }

  &_char_count {
    font-family: 'Montserrat', sans-serif;
    font-size: toRem(12);
    font-weight: 300;
    line-height: 1rem;
    color: $grey;
  }

  &_button {
    margin-top: toRem(15);
  }
}