@import '@/styles/index.scss';

.uploader {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: toRem(4);
  overflow: hidden;
  cursor: pointer;

  &:focus {
    box-shadow: 0px 0px 0px 1px $border-color;
  }

  &_inactive {
    border: none;
  }

  &_active {
    border: 2px $light-grey dashed;
  }

  &_input {
    display: none;
  }

  &_photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.button_delete {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: $light-grey;

  grid-area: -1/-2;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  margin: toRem(-11) toRem(-12) 0 0;

  @media (max-width: $mobile) {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: toRem(-10);
  }

  svg {
    width: 1.313rem;
    height: 1.313rem;
    color: $black;

    @media (max-width: $mobile) {
      width: 0.938rem;
      height: 0.938rem;
    }
  }
}
