.btn {
  border-radius: 6px;
  border: 1px solid #000;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
  padding: 12px 16px;

  &:disabled {
    border: none;
    color: #FFF;
    background: #818181;
  }
}

.main {
  color: #FFF;
  background: #000;
}