@import '@/styles/index.scss';

.header_rev {
  font-size: toRem(14);
  line-height: 1.5;
  letter-spacing: 0.14px;

  max-width: 484px;
  max-height: 84px;
  overflow: hidden;

  grid-area: 2/2;

  @media (max-width: $mobileSmall) {
    max-height: 64px;
    max-width: 320px;
    position: relative;
  }

  &Active {
    max-height: none;
  }
}

.readMore {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $white;
  color: $main-btn-color;

  &_active {
    position: static;
    display: block;
    margin: 8px auto auto;
    padding: 8px;
  }
}
