@import '@/styles/index.scss';

.label {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input {
  &_error {
    border-color: $error-color;
  }

  &_success {
    border-color: $success-color;
  }

  &:focus {
    box-shadow: 0px 0px 0px 1px $border-color;
  }
}

.icon {
  position: absolute;
  top: 56%;
  right: 4%;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  @media (max-width: $mobile) {
    right: 6%;
  }

  &_eye {
    cursor: pointer;
    color: $grey;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &_invalid {
    color: $error-color;

    svg {
      width: 20px;
      height: 20px;

      @media (max-width: $mobile) {
        width: 18px;
        height: 18px;
      }
    }
  }

  &_valid {
    color: $success-color;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}