@import '@/styles/index.scss';

.wrap {
  position: relative;
}

.input {
  &_error {
    border-color: $error-color;
  }

  &_success {
    border-color: $success-color;
  }
}

.icon {
  position: absolute;
  top: 55%;
  right: 5%;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &_eye {
    cursor: pointer;
    color: $grey;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &_invalid {
    color: $error-color;
  }

  &_valid {
    color: $success-color;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.error {
  margin-top: -0.5rem;
}