@import '@/styles/index.scss';

.contacts {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.024rem;

  display: inline-flex;
  align-items: center;

  gap: 0.75rem;

  button,
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    background-color: $main-btn-color;
    color: $white;

    &:hover {
      background-color: $hover-main-btn;
    }

    svg {
      pointer-events: none;
    }
  }
}
