@font-face {
  font-family: 'e-UkraineHead-Bold';
  src: url('../assets/fonts/e-UkraineHead-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine-Bold';
  src: url('../assets/fonts/e-Ukraine-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine-Medium';
  src: url('../assets/fonts/e-Ukraine-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine-Regular';
  src: url('../assets/fonts/e-Ukraine-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

