@use 'sass:math';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import './variables.scss';

// Мінімальна ширина сторінки
$minWidth: 360;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
$containerPadding: 40;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

.container {
  @if ($maxWidthContainer > 0) {
    max-width: toRem($containerWidth);
    margin: 0 auto;
  }
  @if ($containerPadding > 0) {
    @if ($maxWidthContainer > 0) {
      padding: 0 toRem(math.div($containerPadding, 2));
    } @else {
      @include adaptiveValue(
        'padding-left',
        math.div($containerPadding, 2),
        10
      );
      @include adaptiveValue(
        'padding-right',
        math.div($containerPadding, 2),
        10
      );
    }
  }
}