$white: #ffffff;
$black: #333333;
$grey: #afb0af;
$white-grey: #f1f1f1;
$light-grey: #e3e2e1;
$dark-grey: #28282880;
$green: #1a7171;
$light-green: #e4eaea;
$medium-green: #185f5f;
$dark-green: #0d3939;
$red: #b23636;
$light-red: #ebe7e7;
$dark-red: #9c8787;
$yellow: #fccf5c;
$pale-yellow: #fbe5aa;
$azure: #f0f6f7;
$light-cyan: #8cc0c4;
$light-bluish-green: #aec3c3;
$light-teal: #adc3c3;

$text-color: $black;
$error-color: $red;
$success-color: $green;
$border-color: $light-grey;

$main-btn-color: $green;
$hover-main-btn: $medium-green;
$disabled-main-color: $azure;
$disabled-main-bg: $light-bluish-green;
$pressed-main-bg: $dark-green;

$secondary-btn-color: $white;
$hover-secondary-btn: $azure;
$disabled-secondary-color: $light-bluish-green;
$disabled-secondary-border: $light-teal;

$screen-bg-at-modal: $dark-grey;
$mobile-modal-bg: $azure;

$tooltip-base-bg: $pale-yellow;
$tooltip-advanced-bg: $azure;


