@import '@/styles/index.scss';

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: toRem(872);
  background: $azure;
  border-radius: 1rem;
  padding: toRem(36) toRem(115);
  @include adaptiveValue('padding-left', 36, 15, 0, 1440, 991.98);
  @include adaptiveValue('padding-right', 36, 15, 0, 1440, 991.98);

  @media (max-width: $tablet) {
    background: transparent;
    padding: 0;
    margin: toRem(72) toRem(20) 0;
  }

  &_title {
    text-align: center;
  }

  &_text {
    color: $grey;
    text-align: center;
    letter-spacing: 0.32px;
    margin: 1rem 0 2rem;

    @media (max-width: $tablet) {
      max-width: toRem(648);
    }

    @media (max-width: $mobileSmall) {
      color: $text-color;
      font-size: toRem(14);
      line-height: 150%;
      letter-spacing: 0.14px;
    }
  }

  &_button {
    max-width: toRem(424);
  }
}

.modal {
  > div > :first-child {
    @include mobileTitleDecorationOverride;
  }

  &_subtitle {
    max-width: toRem(424);
    text-align: center;
    letter-spacing: 0.32px;
    margin-bottom: 1.5rem;

    @media (max-width: $mobileSmall) {
      font-size: toRem(14);
      line-height: 150%;
      letter-spacing: 0.14px;
      margin-bottom: toRem(20);
    }
  }

  &_form {
    max-width: toRem(424);

    & div:first-child {
      margin-bottom: 1rem;

      @media (max-width: $mobileSmall) {
        margin-bottom: toRem(10);
      }
    }
  }

  &_hint {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;

    @media (max-width: $mobileSmall) {
      margin-top: toRem(4);
      margin-bottom: toRem(20);
    }

    i {
      display: flex;
      width: 1rem;
      height: 1rem;
      color: $green;
    }

    p {
      color: $text-color;
      font-size: toRem(12);
      font-weight: 300;
      line-height: 1rem;
    }

    &_success {
      align-self: center;
      max-width: toRem(424);
      width: 100%;
      margin-top: 0;
    }
  }

  &_btn {
    max-width: toRem(424);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Craftwork Grotesk', sans-serif;
    @include adaptiveValue('font-size', 16, 14, 0, 1440, 360);
    font-style: normal;
    font-weight: 700;
    line-height: toRem(24);
    letter-spacing: 0.48px;
    padding: toRem(15) toRem(10);
    border-radius: toRem(4);

    color: $white;
    background: $main-btn-color;

    @media (max-width: $mobile) {
      padding: toRem(14) toRem(10);
      line-height: 20px;
      letter-spacing: 0.28px;
    }

    @media (max-width: $mobileSmall) {
      max-width: toRem(280);
    }

    &:hover {
      background: $hover-main-btn;
      transition: background 0.3s ease;
    }
  
    &:active {
      background: $pressed-main-bg;
    }
  }
}