@import '@/styles/index.scss';

.desc_wrapper {
  grid-area: desc;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.14px;

  max-width: 30.25rem;

  @media (max-width: $mobileSmall) {
    max-width: 20rem;
  }
}

.header_desc {
  grid-area: 1/1;

  @media (max-width: $mobileSmall) {
    grid-area: unset;
  }
}

.readMore {
  grid-area: 1/1;

  align-self: end;
  justify-self: end;
  background-color: $white;
  color: $main-btn-color;

  @media (max-width: 1023.98px) {
    grid-area: unset;

    justify-self: center;

    padding: 0.5rem;
  }
}
