@import '@/styles/index.scss';

.ant-select {
  width: 100%;

  &-single {
    height: toRem(54);

    @media (max-width: $mobileSmall) {
      height: toRem(48);
    }

    &:not(.ant-select-customize-input) .ant-select-selector {
      padding: 0 1rem;
    }
  }

  &-focused .ant-select-selector {
    box-shadow: 0px 0px 0px 1px $border-color !important;
  }

  &-arrow {
    padding-right: toRem(5);
  
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}