@import '@/styles/index.scss';

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: $screen-bg-at-modal;
  backdrop-filter: blur(0.5px);
  z-index: 22;

  &_wrap {
    position: relative;
  }

  &_block {
    @include adaptiveValue('width', 648, 320, 0, 1440, 320);
    @include adaptiveValue('padding-top', 80, 48, 0, 1440, 320);
    @include adaptiveValue('padding-right', 52, 20, 0, 1440, 320);
    @include adaptiveValue('padding-bottom', 80, 48, 0, 1440, 320);
    @include adaptiveValue('padding-left', 52, 20, 0, 1440, 320);
    background-color: $white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $mobile) {
      background-color: $mobile-modal-bg;
    }
  }

  &_close {
    position: absolute;
    top: 36px;
    right: 42px;
    color: $light-grey;

    @media (max-width: $mobile) {
      top: 17px;
      right: 20px;
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }
}