@import '@/styles/index.scss';

.block {
  display: grid;
  gap: 1rem;

  @media (max-width: $mobile) {
    gap: toRem(10);
  }
}

.hints {
  color: $grey;
  font-size: toRem(12);
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: -0.5rem;
}

.button_delivery {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;

  color: $red;
  font-family: 'Craftwork Grotesk', sans-serif;
  font-size: toRem(12);
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.36px;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.modal {
  > div > :first-child {
    @include mobileTitleDecorationOverride;
  }

  h4 {
    max-width: toRem(500);
    margin-bottom: 0;
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: center;

    border-radius: toRem(4);
    background: $azure;
    padding: toRem(20) toRem(16);
    max-width: toRem(424);
    width: 100%;
    margin: 1.5rem 0 2rem;

    @media (max-width: $mobile) {
      margin: 1rem 0 1.5rem;
    }

    @media (max-width: $mobileSmall) {
      margin: toRem(12) 0 toRem(20);
    }

    p {
      font-size: toRem(14);
      line-height: 1rem;
    }
  }

  &_button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    max-width: toRem(424);
    width: 100%;

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }

    &_delete {
      color: $red;
      outline-color: $red;
    }
  }
}