@import '@/styles/index.scss';

.review {
  &_item {
    display: grid;
    gap: 1.25rem;

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 2px;
      background: $azure;
    }
  }
}

.item {
  display: grid;
  grid-template-areas: 'photo feedback profile';
  justify-items: stretch;
  align-items: start;
  column-gap: 0.75rem;

  @media (max-width: $mobileSmall) {
    grid-template-areas: 'photo feedback' 'none profile';
    column-gap: 0.5rem;
    row-gap: 0.625rem;
  }
}

.product {
  &_img {
    grid-area: photo;
    width: toRem(88);
    height: toRem(66);
    font-size: 0.625rem;

    @media (max-width: $mobile) {
      width: toRem(68);
      height: toRem(48);
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 2px;
    }
  }
}

.feedback {
  grid-area: feedback;

  &_subtitle {
    color: $green;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.813rem;
    font-weight: 500;
    line-height: 1rem;
  }

  &_text {
    font-size: toRem(14);
    line-height: 150%;
    letter-spacing: 0.14px;
    margin: 0.188rem 0 0.75rem;

    @media (max-width: $mobileSmall) {
      margin-bottom: 0;
    }
  }
}

.user {
  grid-area: profile;
  display: grid;
  grid-template-areas: 'photo name' 'date date';
  justify-content: flex-end;
  column-gap: 0.5rem;
  row-gap: 0.25rem;

  @media (max-width: $mobileSmall) {
    grid-template-areas: 'photo name date';
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
  }

  &_img {
    grid-area: photo;
    width: toRem(20);
    height: toRem(20);
    font-size: 0.625rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &_name {
    grid-area: name;
    font-size: 0.813rem;
    font-weight: 500;
    line-height: 1rem;
  }
}

.date {
  grid-area: date;
  color: $grey;
  text-align: right;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0.14px;
}