@import '@/styles/index.scss';

.instructions {
  max-width: toRem(496);
  width: 100%;

  &_tooltip {
    div {
      top: 44px;
      right: 10px;

      &::before {
        top: -18%;

        @media (max-width: $mobile) {
          top: -15%;
        }
      }
    }
  }
}