@import '@/styles/index.scss';

.settings {
  display: grid;

  @media (max-width: $tablet) {
    justify-items: center;
  }

  &_title {
    margin-bottom: 1.5rem;

    @media (max-width: $mobileSmall) {
      justify-self: start;
      margin-bottom: 14px;
    }
  }
}

.form {
  max-width: toRem(424);
  display: grid;
  gap: 2rem;

  @media (max-width: $tablet) {
    max-width: 100%;
    width: calc(75% - 20px);
    gap: toRem(24);
  }

  @media (max-width: $mobileSmall) {
    width: calc(100% - 20px);
    gap: toRem(18);
  }

  &_block {
    display: grid;
    gap: 1rem;

    @media (max-width: $mobile) {
      gap: toRem(10);
    }
  }

  &_subtitle {
    font-weight: 500;
    line-height: 110%;
    margin-bottom: -0.5rem;
  }

  &_hints {
    color: $grey;
    font-size: toRem(12);
    font-weight: 300;
    line-height: 1rem;
    margin-bottom: -8px;
  }

  &_btn {
    &_delete {
      max-width: toRem(424);
      margin-top: 1rem;

      @media (max-width: $tablet) {
        max-width: 100%;
        width: calc(75% - 20px);
      }

      @media (max-width: $mobileSmall) {
        width: calc(100% - 20px);
      }
    }
  }

  &_wrap {
    display: grid;
    gap: 20px;
  }
}

.modal {
  > div > :first-child {
    @include mobileTitleDecorationOverride;
  }

  &_form {
    width: 100%;
  }

  &_text {
    max-width: toRem(424);
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;

    @media (max-width: $mobile) {
      font-size: toRem(14);
      letter-spacing: 0.14px;
      margin-bottom: 20px;
    }
  }

  &_button {
    max-width: toRem(424);
  }
}

.button_delivery {
  color: $red;
  font-family: 'Craftwork Grotesk', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;

  svg {
    width: 16px;
    height: 16px;
  }
}