@import '@/styles/index.scss';

.settings {
  display: grid;
  padding-bottom: 1.5rem;

  @media (max-width: $tablet) {
    justify-items: center;
  }

  @media (max-width: $mobile) {
    margin-top: 0.5rem;
  }

  &_title {
    margin-bottom: 1.5rem;

    @media (max-width: $mobileSmall) {
      justify-self: start;
      margin-bottom: 0.875rem;
    }
  }
}

.button {
  &_delete {
    max-width: 26.5rem;
    margin-top: 1rem;

    @media (max-width: $tablet) {
      max-width: 100%;
      width: calc(75% - 1.25rem);
    }

    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}