@import '@/styles/index.scss';

.settings {
  display: grid;
  padding-bottom: 1.5rem;

  @media (max-width: $tablet) {
    justify-items: center;
  }

  &_title {
    margin-bottom: 1.5rem;

    @media (max-width: $mobileSmall) {
      justify-self: start;
      margin-bottom: toRem(14);
    }
  }
}

.form {
  max-width: toRem(424);
  display: grid;
  gap: 2rem;

  @media (max-width: $tablet) {
    max-width: 100%;
    width: calc(75% - 20px);
    gap: 1.5rem;
  }

  @media (max-width: $mobileSmall) {
    width: calc(100% - 20px);
    gap: 1rem
  }

  &_wrap {
    display: grid;
    gap: toRem(20);

    @media (max-width: $mobileSmall) {
      gap: 1rem;
    }
  }

  &_subtitle {
    font-weight: 500;
    line-height: 110%;
    margin-bottom: -0.5rem;

    @media (max-width: $mobileSmall) {
      margin-bottom: -4px;
    }
  }
}

.button {
  &_delete {
    max-width: toRem(424);
    margin-top: 1rem;

    @media (max-width: $tablet) {
      max-width: 100%;
      width: calc(75% - 20px);
    }

    @media (max-width: $mobileSmall) {
      width: calc(100% - 20px);
    }
  }
}

.modal {
  > div > :first-child {
    @include mobileTitleDecorationOverride;
  }

  &_text {
    max-width: toRem(424);
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;

    @media (max-width: $mobile) {
      font-size: toRem(14);
      letter-spacing: 0.14px;
      margin-bottom: 20px;
    }
  }

  &_button {
    max-width: toRem(424);
  }
}