@import '@/styles/index.scss';

.header {
  svg {
    width: 24px;
    height: 24px;
  }

  &_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'logo links buttons';
    justify-items: center;
    align-items: center;
    height: 7rem;

    // tablet and less
    @media screen and (max-width: $tablet) {
      grid-template-areas: 'links logo buttons';

      & > :first-child {
        justify-self: center;
      }
      & > :nth-child(2) {
        justify-self: start;
      }
      & > :last-child {
        justify-self: end;
      }

      .search_icon {
        display: none;
      }
    }
    
    // more then tablet
    @media screen and (min-width: $tablet) {
      & > :first-child {
        justify-self: start;
      }
      & > :nth-child(2) {
        justify-self: center;
      }
      & > :last-child {
        justify-self: end;
      }
    }

    @media screen and (max-width: $mobile) {
      .user_icon {
        display: none;
      }
    }
  }

  &_dropdown {
    position: relative;
  }

  &_logo {
    grid-area: logo;
  }

  &_categories {
    grid-area: links;
    display: flex;
    gap: 1rem;

    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  &_burger {
    grid-area: links;
    display: flex;
    justify-self: start;
    gap: 1rem;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &_buttons {
    grid-area: buttons;
    display: flex;
    gap: 1rem;

    button {
      display: flex;
    }
  }
}