@import '@/styles/index.scss';

.header {
  box-shadow: 0 toRem(6) toRem(6) 0 rgba(221, 221, 221, 0.2);
  position: relative;
  z-index: 26;

  svg {
    color: $black;
    width: toRem(20);
    height: toRem(20);
  }

  &_container {
    display: grid;
    grid-template-areas: 'logo links buttons';
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    align-items: center;

    & > :first-child {
      justify-self: start;
    }

    & > :nth-child(2) {
      justify-self: center;
    }

    & > :last-child {
      justify-self: end;
    }

    @media screen and (max-width: $tablet) {
      grid-template-areas: 'links logo buttons';

      & > :first-child {
        justify-self: end;
      }

      & > :nth-child(2) {
        justify-self: start;
      }

      & > :last-child {
        justify-self: end;
      }
    }

    @media (max-width: $mobileSmall) {
      & > :first-child {
        justify-self: center;
      }
    }
  }

  &_dropdown {
    position: relative;
  }

  &_logo {
    grid-area: logo;
    margin: toRem(20) 0;
    width: toRem(72);
    height: toRem(72);

    @media (max-width: $tablet) {
      margin-right: 3rem;
    }

    @media (max-width: $mobile) {
      margin: toRem(12) 1.5rem toRem(12) 0;
      width: toRem(64);
      height: toRem(64);
    }

    @media (max-width: $mobileSmall) {
      margin-right: 0;
      margin: toRem(8) 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &_categories {
    grid-area: links;
    display: flex;
    @include adaptiveValue('gap', 46, 20, 0, 1440, 991.98);
    margin-right: toRem(64);
    font-family: 'Craftwork Grotesk', sans-serif;
    font-size: toRem(14);
    font-weight: 700;
    line-height: toRem(20);
    letter-spacing: 0.28px;
    text-transform: lowercase;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &_burger {
    grid-area: links;
    display: flex;
    justify-self: start;
    gap: toRem(28);

    @media (max-width: $mobile) {
      gap: toRem(18);
    }
  }

  &_buttons {
    grid-area: buttons;
    display: flex;
    align-items: center;
  }
}

.icon {
  &_user {
    align-self: flex-start;

    button {
      display: flex;
      align-items: center;
      gap: toRem(4);
    }
 
    & > button > :last-child {
      width: 16px;
      height: 16px;
    }
  }

  &_favorite {
    margin: 0 toRem(20) 0 toRem(14);

    @media (max-width: $mobile) {
      margin-right: toRem(18);
    }
  }

  &_search {
    margin-right: toRem(20);

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &_shop {
    align-self: flex-start;
    margin: 0 toRem(14) 0 toRem(4);

    button {
      display: flex;
      align-items: center;
      gap: toRem(4);
    }

    & > button > :last-child {
      width: 16px;
      height: 16px;
    }
  }
}

.icon_burger {
  max-width: toRem(20);
  max-height: toRem(20);
  display: grid;
  gap: toRem(3.89);
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  margin: toRem(1.5) 0px;
}

.icon_bar {
  display: block;
  width: toRem(17.8);
  height: toRem(1.5);
  background: $black;
  transition: transform 0.4s;
  border-radius: toRem(5);
}

.open .icon_bar {
  margin: 0;

  &:first-child {
    transform: translateY(6px) rotate(-45deg);
  }

  &:nth-child(2) {
    opacity: 0;
  }

  &:last-child {
    transform: translateY(-5px) rotate(45deg);
  }
}
