@import '@/styles/index.scss';

.quantity {
  @media (max-width: 800px) {
    width: 100%;
  }

  &_label {
    font-size: 0.813rem;
    line-height: 1rem;
  }

  &_wrap {
    max-width: toRem(240);
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;

    @media (max-width: 800px) {
      max-width: toRem(496);
    }

    @media (max-width: $mobileSmall) {
      margin-top: 0.25rem;
    }
  }

  &_input {
    height: toRem(54);
    background: $white;
    border: 1px solid $border-color;
    border-radius: 0.25rem 0px 0px 0.25rem;

    @media (max-width: $mobileSmall) {
      height: toRem(48);
    }
  }

  &_unit {
    max-width: toRem(70);
    width: 100%;
    height: toRem(54);
    font-size: 0.875rem;
    line-height: 1rem;
    background: $white;
    border-radius: 0px 0.25rem 0.25rem 0px;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: toRem(17) toRem(16);

    @media (max-width: $mobileSmall) {
      height: toRem(48);
    }
  }
}
