@import '@/styles/index.scss';

.modal {
  > div > :first-child {
    @include mobileTitleDecorationOverride;
  }

  &_text {
    max-width: toRem(424);
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;

    @media (max-width: $mobile) {
      font-size: toRem(14);
      letter-spacing: 0.14px;
      margin-bottom: toRem(20);
    }
  }

  &_button {
    max-width: toRem(424);
  }
}