@import '@/styles/index.scss';

.section {
  max-width: 462px;
  display: grid;
  justify-items: center;
  margin-top: 80px;
  @include adaptiveValue('margin-left', 116, 0, 0, 1440, 900);

  @media (max-width: $tablet) {
    margin: 72px auto 0;
  }

  &_text {
    color: $grey;
    text-align: center;
    letter-spacing: 0.32px;
    margin: 16px 0 24px;

    @media (max-width: $mobileSmall) {
      color: $text-color;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.14px;
      margin: 12px 0 20px;
    }
  }

  svg {
    width: 88px;
    height: 88px;
    color: $light-cyan;
  }
}