@import '@/styles/index.scss';

.form {
  max-width: 424px;
  width: 100%;
  display: grid;
  
  &_inputs {
    display: grid;
    gap: 1rem;

    @media (max-width: $mobile) {
      gap: 10px;
    }
  }

  &_buttons {
    width: 100%;
    display: grid;
    gap: 1rem;
    margin: 32px 0;

    @media (max-width: $mobile) {
      margin: 20px 0;
    }
  }
}

.login_error {
  margin-top: 4px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;

  &_input {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    padding: 4px;
    display: grid;
    place-content: center;
    cursor: pointer;

    @media (max-width: $mobile) {
      width: 20px;
      height: 20px;
    }

    &::before {
      content: "";
      background: url('@assets/checkmark.svg');
      width: 16px;
      height: 16px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      transform-origin: bottom left;
    }

    &:checked::before {
      transform: scale(1);
    }

    &:checked {
      background: $green;
      border-color: transparent;
    }
  }

  &_text {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;

    @media (max-width: $mobile) {
      font-weight: 400;
      line-height: 17px;
    }

    & span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.forgot_password_button {
  justify-self: flex-start;
  color: $text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
  margin-top: 0.5rem;
}

.decorative_line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
  color: $text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;

  &::before {
    content: '';
    background: $light-grey;
    display: inline-block;
    width: 65.5px;
    height: 1px;
    opacity: 0.8;
  }

  &::after {
    content: '';
    background: $light-grey;
    display: inline-block;
    width: 65.5px;
    height: 1px;
    opacity: 0.8;
  }
}