@import '@/styles/index.scss';

.profile {
  @media (max-width: $tablet) {
    display: grid;
    justify-items: center;
  }

  @media (max-width: $mobile) {
    margin-top: 0.5rem;
  }

  &_title {
    margin: 2rem 0 1.5rem;

    @media (max-width: $mobile) {
      margin: 1.563rem 0 0.938rem;
    }

    @media (max-width: $mobileSmall) {
      margin: 1.188rem 0 0.688rem;
    }
  }
}

.form {
  max-width: 26.5rem;
  width: 100%;
  display: grid;
  gap: 2rem;

  @media (max-width: $tablet) {
    max-width: 100%;
    width: calc(75% - 1.25rem);
  }

  @media (max-width: $mobile) {
    gap: 1.25rem;
    margin-top: 1.688rem;
  }

  @media (max-width: $mobileSmall) {
    width: 100%;
  }

  &_label {
    display: grid;
    gap: 0.5rem;
    color: $grey;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1rem;

    @media (max-width: $mobile) {
      gap: 0.25rem;
    }
  }
}