@import '@/styles/index.scss';

.profile {
  @media (max-width: $tablet) {
    display: grid;
    justify-items: center;
  }

  &_title {
    margin: toRem(32) 0 toRem(24);

    @media (max-width: $mobile) {
      margin: toRem(25) 0 toRem(15);
    }

    @media (max-width: $mobileSmall) {
      margin: toRem(19) 0 toRem(11);
    }
  }
}

.form {
  max-width: toRem(424);
  width: 100%;
  display: grid;
  gap: 2rem;

  @media (max-width: $tablet) {
    max-width: 100%;
    width: calc(75% - 20px);
  }

  @media (max-width: $mobile) {
    gap: toRem(20);
  }

  @media (max-width: $mobileSmall) {
    width: calc(100% - 20px);
  }

  &_label {
    display: grid;
    gap: 0.5rem;
    color: $grey;
    font-size: toRem(12);
    font-weight: 300;
    line-height: 1rem;

    @media (max-width: $mobile) {
      gap: 0.25rem;
    }
  }
}