@import '@/styles/index.scss';

.profile {
  @media (max-width: $tablet) {
    display: grid;
    justify-items: center;
  }

  &_title {
    margin: toRem(32) 0 toRem(24);

    @media (max-width: $mobile) {
      margin: toRem(25) 0 toRem(15);
    }

    @media (max-width: $mobileSmall) {
      margin: toRem(19) 0 toRem(11);
    }
  }
}

.form {
  max-width: toRem(424);
  width: 100%;
  display: grid;
  gap: 2rem;

  @media (max-width: $tablet) {
    max-width: 100%;
    width: calc(75% - 20px);
  }

  @media (max-width: $mobile) {
    gap: toRem(20);
  }

  @media (max-width: $mobileSmall) {
    width: calc(100% - 20px);
  }

  &_label {
    display: grid;
    gap: 0.5rem;
    color: $grey;
    font-size: toRem(12);
    font-weight: 300;
    line-height: 1rem;

    @media (max-width: $mobile) {
      gap: 0.25rem;
    }
  }
}

.photo {
  &_block {
    max-width: toRem(200);
    display: grid;
    position: relative;
  }

  &_img {
    @include adaptiveValue('width', 200, 152, 0, 1440, 360);
    @include adaptiveValue('height', 200, 152, 0, 1440, 360);

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &_button_edit {
    color: $green;
    justify-self: end;
    position: absolute;
    top: 85%;
    right: 9%;

    @media (max-width: $mobile) {
      top: 83%;
      right: 13%;
    }

    svg {
      width: toRem(30);
      height: toRem(30);

      @media (max-width: $mobile) {
        width: toRem(24);
        height: toRem(24);
      }
    }
  }
}

.modal {
  > div > :first-child {
    @include mobileTitleDecorationOverride;
  }

  &_photo {
    @include adaptiveValue('width', 200, 152, 0, 1440, 360);
    @include adaptiveValue('height', 200, 152, 0, 1440, 360);
    margin: toRem(8) 0 toRem(32);
  
    @media (max-width: $mobile) {
      margin: 0 0 toRem(28);
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &_buttons {
    display: flex;
    align-items: center;
    gap: toRem(96);

    @media (max-width: $mobile) {
      gap: toRem(25);
    }

    button,
    label {
      font-family: 'Craftwork Grotesk', sans-serif;
      font-size: toRem(14);
      font-weight: 700;
      line-height: toRem(20);
      letter-spacing: 0.42px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    button {
      color: $red;
    }

    label {
      color: $green;
      cursor: pointer;
    }

    input {
      display: none;
    }

    svg {
      width: toRem(16);
      height: toRem(16);
    }
  }
}