.benefits {
  background: linear-gradient(0deg, #4A4A4A 0%, #4A4A4A 100%), lightgray 50% / cover no-repeat;

  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 32px;
}

.title {
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
}

.item {
  display: grid;
  gap: 1rem;

  &_title {
    color: #FFF;
    font-weight: 500;
  }

  &_text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
  }
}

