@import '@/styles/index.scss';

.statistics {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  margin-bottom: toRem(34);

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    row-gap: 1.5rem;
    margin-bottom: toRem(64);
  }

  @media (max-width: $mobileSmall) {
    justify-content: space-between;
  }
}

.review {
  display: grid;
  justify-items: center;
  gap: 1rem;

  @media (max-width: $mobileSmall) {
    justify-self: flex-start;
    gap: 0.5rem;
  }

  &_title {
    @media (max-width: $mobileSmall) {
      font-size: 1.125rem;
    }
  }

  &_subtitle {
    @include adaptiveValue('font-size', 16, 12, 0, 1440, 360);
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.16px;

    @media (max-width: $mobileSmall) {
      line-height: 1rem;
    }
  }
}

.rating {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  @include adaptiveValue('gap', 63, 0, 0, 1440, 995);

  @media (max-width: $tablet) {
    @include adaptiveValue('gap', 50, 10, 0, 995, 750);
  }

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, auto);
    grid-column: span 2;
  }

  &::before {
    content: '';
    display: inline-block;
    rotate: 90deg;
    width: 92px;
    height: 2px;
    background: $azure;

    @media (max-width: $mobile) {
      width: 46px;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    rotate: 90deg;
    width: 92px;
    height: 2px;
    background: $azure;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &_wrap {
    display: grid;
    grid-template-areas:
      'overall stars'
      'subtitle subtitle';
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
  
    @media (max-width: $mobileSmall) {
      justify-items: start;
      gap: 0.688rem;
    }
  }

  &_overall {
    grid-area: overall;

    @media (max-width: $mobileSmall) {
      font-size: 1.125rem;
    }
  }

  &_stars {
    grid-area: stars;
  }

  &_subtitle {
    @include adaptiveValue('font-size', 16, 12, 0, 1440, 360);
    grid-area: subtitle;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.16px;

    @media (max-width: $mobileSmall) {
      line-height: 1rem;
    }
  }
}

.scores {
  max-width: toRem(250);
  width: 100%;
  position: relative;

  @media (max-width: $mobile) {
    max-width: toRem(177);
    grid-column: span 3;
    justify-self: center;
  }

  &_list {
    display: grid;
    justify-items: start;
    justify-content: end;
    gap: 0.5rem;
  }
}

.hint {
  width: toRem(213);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1rem;
  position: absolute;
  right: 0px;
  top: -46px;

  @media (max-width: $tablet) {
    top: -30px;
  }

  @media (max-width: $mobile) {
    font-weight: 300;
    gap: 0.25rem;
    right: -39px;
    top: 107px;
  }

  @media (max-width: $mobileSmall) {
    font-size: 0.75rem;
  }

  svg {
    width: 1rem;
    height: 1rem;
    color: $green;
  }

  &_tooltip {
    div {
      border-top-right-radius: 0px;
      top: 38px;
      right: 7px;

      &::before {
        content: "";
        position: absolute;
        top: -20%;
        right: 0px;
        border-bottom: 20px solid $pale-yellow;
        border-left: 20px solid transparent;
      }
    }
  }
}

.item {
  display: flex;
  align-items: center;

  &_stars {
    color: $light-grey;
  }

  &_rating {
    width: 0.563rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.75rem;
    text-align: center;
    margin-left: 0.25rem;
  }

  &_progress {
    width: toRem(113);
    height: 0.25rem;
    background-color: $light-grey;
    border-radius: 5px;
    margin: 0 0.75rem;
    overflow: hidden;

    div {
      height: 100%;
      background: $yellow;
      border-radius: 0.313rem;
    }
  }

  &_count {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.75rem;
  }
}