@import '@/styles/index.scss';

.shopDropdown {
    width: 226px;
    display: flex;
    flex-direction: column;
    
    background: $white;
    z-index: 999;
    
    border-radius: 4px;
    border: 1px solid $light-grey;
    box-shadow: 0px 4px 8px 0px rgba(18, 17, 50, 0.08);
  
    position: absolute;
    top: 48px;
    right: 0;
}