@import '@/styles/index.scss';

.orders {
  overflow: hidden;

  @media (max-width: $mobile) {
    margin-top: 0.5rem;
  }

  @media (max-width: $mobileSmall) {
    margin-top: 0.125rem;
  }

  &_title {
    margin-bottom: 1.25rem;

    @media (max-width: $mobile) {
      margin-bottom: 1rem;
    }
  }
}