@import '@/styles/index.scss';

.order {
  &_title {
    margin-bottom: 1.5rem;
  }

  &_buttons {
    display: flex;
    gap: 0.5rem;

    button {
      font-family: 'Craftwork Grotesk', sans-serif;
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.36px;
      background: $azure;
      border-radius: 0.25rem;
      padding: 0.5rem 1.5rem;
    }
  }

  .active {
    background: $green;
    color: $white;
  }
}