@import '@/styles/index.scss';

.order {
  &_title {
    margin-bottom: toRem(24);
  }

  &_buttons {
    display: flex;
    gap: 0.5rem;

    button {
      font-family: 'Craftwork Grotesk', sans-serif;
      font-size: toRem(12);
      font-weight: 700;
      line-height: toRem(24);
      letter-spacing: 0.36px;
      background: $azure;
      border-radius: toRem(4);
      padding: 0.5rem 1.5rem;
    }
  }

  .active {
    background: $green;
    color: $white;
  }
}