@import '@/styles/index.scss';

.order {
  &_title {
    margin-bottom: 24px;
  }

  &_buttons {
    display: flex;
    gap: 0.5rem;

    button {
      font-family: 'Craftwork Grotesk', sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.36px;
      background: $azure;
      border-radius: 4px;
      padding: 8px 24px;
    }
  }

  .active {
    background: $green;
    color: $white;
  }
}