@import '@/styles/index.scss';

.label {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input {
  &_error {
    border-color: $error-color;
  }

  &_success {
    border-color: $success-color;
  }
}

.icon {
  position: absolute;
  top: 30%;
  right: 4%;

  @media (max-width: $mobile) {
    top: 32%;
    right: 6%;
  }

  &_invalid {
    color: $error-color;
  }

  &_valid {
    color: $success-color;
  }

  svg {
    width: 20px;
    height: 20px;

    @media (max-width: $mobile) {
      width: 18px;
      height: 18px;
    }
  }

  &_profile {
    color: $success-color;
  }
}