@import '@/styles/variables.scss';

.wrap {
  position: relative;
}

.input {
  padding: 14px 16px;

  &_error {
    border-color: $error-color;
  }

  &_success {
    border-color: $success-color;
  }
}

.icon {
  position: absolute;
  top: 30%;
  right: 5%;

  &_invalid {
    color: $error-color;
  }

  &_valid {
    color: $success-color;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.error {
  margin-top: -0.5rem;
}